# Copy this file to .env and fill in the values as needed.
# Note that many of these are not required and have default values. 

# This directory is used to store job execution configuration, intermediate data, and results.
# Optional, defaults to the platform-specific app data directory (e.g. ~/Library/Application Support/metriq-gym on macOS).
MGYM_LOCAL_DB_DIR="<MGYM_LOCAL_DB_DIR>"

# This directory is used to store local simulator results and is not required for cloud-based simulations.
# Optional, defaults to the platform-specific app cache directory (e.g. ~/Library/Caches/metriq-gym on macOS).
MGYM_LOCAL_SIMULATOR_CACHE_DIR="<MGYM_LOCAL_SIMULATOR_CACHE_DIR>"

# Metriq
# Obtained at: https://metriq.info/Token
METRIQ_CLIENT_API_KEY="<METRIQ_CLIENT_API_KEY>"

# AWS
# Obtained at: https://aws.amazon.com/braket/
AWS_ACCESS_KEY_ID="<AWS_ACCESS_KEY_ID>"
AWS_SECRET_ACCESS_KEY="<AWS_SECRET_ACCESS_KEY>"

# Azure
# Obtained at: https://portal.azure.com/
AZURE_QUANTUM_CONNECTION_STRING="<AZURE_SUBSCRIPTION_ID>"

# IBM
# Obtained at: https://quantum.cloud.ibm.com
QISKIT_IBM_TOKEN="<IBM Cloud API key>" # (from https://cloud.ibm.com/iam/apikeys)
QISKIT_IBM_CHANNEL="<Channel type>" # (Optional, default: "ibm_quantum_platform")
QISKIT_IBM_INSTANCE="<Instance CRN>" # (Optional)

# Quantinuum
# Obtained at: https://um.qapi.quantinuum.com
QUANTINUUM_API_KEY="<QUANTINUUM_API_KEY>"

# IonQ
# Obtained at: https://cloud.ionq.com/settings/keys
IONQ_API_KEY="<IONQ_API_KEY>"

# qBraid
# Obtained at: https://account.qbraid.com/
QBRAID_API_KEY="<QBRAID_API_KEY>"
